* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-design {
    padding: 20px;
    background-color: aquamarine;
}

.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.form-group label {
    width: 20%;
    font-size: 20px;
}

.form-group input {
    width: 80%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.form-group input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);

}
.form-group-submit {
    text-align: right;
}
.form-group-submit input {
    text-align: right;
    padding: 10px 15px;
    border: 2px solid rgb(255, 254, 254);
    border-radius: 5px;
    background-color: rgb(9, 167, 247);
    color: #fff;
    margin: 15px 10px 5px;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
